{% extends 'base.html' %}
{% block content %}
    <h1 style="text-align: center;">
        <span style="font-family:Montserrat,sans-serif">{{ file_name }}</span>
    </h1>
    <h2 style="text-align: center;">
        <span style="font-family:Montserrat,sans-serif">Size</span>: {{
        '{:,}'.format(file_size | int) }} bytes
    </h2>
    <h2 style="text-align: center;">
        <span style="font-family:Montserrat,sans-serif">Type</span>: {{ file_type }}
    </h2>
    <h2 style="text-align: center;">
        <span style="font-family:Montserrat,sans-serif"><a href="{{ url }}" class="myButton">Download</a></span>
    </h2>
    {% if 'image' in file_type %}
        <center>
            <img class='resize_fit_center' src="{{ url }}" />
        </center>
    {% endif %}
{% endblock %} 
